header {
    padding: 20px 20px;
    height: 100vh;
    background-color: grey;
    /* si se rompiera la img*/
    background-image: url(../assets/images/header.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100%;
    /* centro el foco de la imagen */
    justify-content: space-between;

    h1 {
        color: white;
        width: 700px;
        font-size: 40px;
        margin-bottom: 50px;
    }

    .container-portada {
        padding-top: 10px;
        justify-content: space-between;

        /* ul {
            li a {
                color: white;
                margin-right: 20px;
                font-size: 20px;
            }
        } */
    }

    @media(max-width:760px) {
        header {
            background-image: none;
            background: green;
        }
    }
}

header nav ul,
footer nav ul {
    text-decoration: none;
    list-style-type: none;

    flex-direction: row;
    justify-content: right;

    gap: 1rem;
}

header nav ul a,
footer nav ul a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
}


footer {
    width: 100%;
    height: 10vh;
    padding: 4rem 1rem;

    justify-content: space-between;

    color: white;
    background: rgb(0, 0, 0);
    font-family: poppins, sans-serif;

}
