/* Media query for devices with max-width of 736px (portrait orientation) */
@media (max-width: 736px) and (orientation: portrait) {
    .container-suenios {
        flex-direction: column;
        padding: 10px;
    }

    .button {
        width: 100%;
        margin: 5px 0;
    }

    body {
        background-color: #2f8cb1;
    }
}

/* Media query for devices with max-width of 800px (landscape orientation) */
@media (max-width: 800px) and (orientation: landscape) {
    .container-suenios {
        flex-direction: row;
        padding: 20px;
    }

    .button {
        width: auto;
        margin: 10px;
    }
}

h2 {
    padding: 20px 20px;
}


.section-nosotros {
    padding: 30px 30px;
}




/* ------- ESTILOS SECCION DE ANUNCIOS  ------- */
.section-anuncios {
    padding: 30px 30px;
    gap: 2rem;
}

.div-anuncios {
    display: flex;
    gap: 1rem;
}

.card-anuncio {
    background-color: rgb(247, 243, 243);
    width: 400px;
    height: 600px;
    /* padding: 0.5rem; */
    /* flex-direction: column; */
    gap: 1rem;
}

.card-anuncio:hover {
    transition: all 0.5s;
    transform: scale(1.05);
}

.card-institucional:hover {
    transition: all 0.5s;
    transform: scale(1.05);
    background-color: rgb(243, 236, 236);
}

.btn {
    height: 2rem;
    /* width: 16rem; */
    color: white;
    background: #e08709;
}


.card-detalle {
    display: grid;
    height: 250px;
    padding: 20px 20px;

    p {
        display: grid;
        justify-self: end;
    }

    b {
        color: rgb(20, 201, 20);
    }
}

.img-anuncio {
    width: 100%;
    height: auto;
}

.card-logos {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 2rem;
    padding-inline: 50px;
}

.section-suenios {
    display: flex;
    background-image: url(../assets/images/encuentra.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: 100%;
    height: 65vh;
}

.section-suenios:hover {
    opacity: 0.9; 
}

.boton-fixed:hover {
    background-color: rgb(10, 207, 10);
}

.container-suenios {
    padding: 25vh 10vh;

    h2 {
        padding-bottom: 50px;
        color: white;
    }

    p {
        padding-bottom: 50px;
        color: white;
    }
}


.section-blog {
    width: 70%;
    padding: 50px 30px;

    article {
        padding: 10px 10px;
    }

    .card-image img {
        width: 20vw;
        height: auto;
    }

    .card-details {
        padding: 10px 30px;
        font-size: 18px;

        .container-h3 h3 {
            font-size: 20px;
            padding-bottom: 15px;
        }

        .container-green-line {
            width: 40%;
            height: 5px;
            background-color: rgb(8, 224, 8);
        }

        .written-by {
            padding-top: 20px;
            padding-bottom: 40px;
        }

        .span-written-by {
            color: #e08709;
        }
    }

}


.section-commits {
    width: 30%;
    height: 50vh;
    padding: 50px 30px;
    justify-content: space-around;
    /* padding: 50px 30px; */

    .container-commit {
        background-color: rgb(8, 224, 8);
        border-radius: 5%;
        padding: 50px;
    }

    .commit-paragraph {
        color: white;
        font-size: 20px;
        font-family: Cambria, Times, 'Times New Roman', serif;
    }

    .commit-span {
        display: flex;
        color: white;
        font-size: 22px;
        padding: 30px 20px;
        flex-direction: row-reverse;
    }
}